body {
background-image: url(natur.png);
background-repeat: no-repeat;
background-size: cover;
}



.djurdiv{
    display:grid;
    place-items: center;
    
    grid-template-columns: 1fr 1fr 1fr;
    
}

.djurdiv img {
    width: 250px;
    height: 250px;
    border-radius: 50px 50px 50px 50px;
}

.main-grid {
display:grid;
grid-auto-flow: column;
width: 80%;

margin: auto;
place-items: center;
background-color: rgb(0, 0, 0);
border-radius: 15px 15px 15px 15px;
}

h1 {
font-size: 62px;
font-weight: lighter;
font-family: Georgia, 'Times New Roman', Times, serif;
text-shadow: -2px -2px #000, 2px -2px #000, -2px 2px #000, 2px 2px #000;
text-align: center;

color: whitesmoke;
background-image: url(nedladdning.jpg);
border-radius: 15px 15px 15px 15px
}

p{
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 60%;
margin: auto;
color: whitesmoke;
}

h2{
font-size: 45px;
font-family: fantasy;
font-weight: lighter;
color: whitesmoke;
}

.kontakt {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    background-color: brown;
    border-radius: 15px 15px 15px 15px;
    
}

.kontakt:hover {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(55, 118, 255);
    background-color: brown;
    border-radius: 15px 15px 15px 15px
    }
    

a {
font-size: 35px;
text-decoration: none;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: whitesmoke;


}

a:hover {
font-size: 35px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(55, 118, 255);

}
